:root {
    --purple-1: #6366F1;
    --purple-2: #6a0dadc2;
    --green-500: #10b981;
    --green-600: #059669;
    --gray-900: #111827;
    --gray-700: #374151;
    --gray-100: #f3f4f6;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--white);
    color: var(--gray-900);
    line-height: 1.6;
}

.card {
    background: var(--white);
    padding: 2.5rem 1.5rem;
    border: 1.0;
}

header {
    background-image: url('../assets/fundo_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 2.5rem 5rem;
    min-height: 75vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: var(--white);
}

header h1 {
    font-family: "Geist", "Inter", system-ui, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

header p {
    font-size: 1.25rem;
    max-width: 570px;
    margin: 0 auto 2.5rem;
    opacity: 0.95;
}

.btn-login {
    display: inline-block;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    padding: 1rem 2.5rem;
    border-radius: 5.0em;
    margin-right: 1.10em;
    text-decoration: none;
    font-size: 1.125rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(16, 185, 129, 0.3);
}

.btn-login:hover {
    background: var(--green-600);
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(16, 185, 129, 0.4);
}

.btn-cadastro {
    display: inline-block;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    padding: 1rem 2.5rem;
    border-radius: 5.0em;
    text-decoration: none;
    font-size: 1.125rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 25px rgba(16, 185, 129, 0.3);
}

.btn-cadastro:hover {
    background: var(--green-600);
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(16, 185, 129, 0.4);
}

main {
    padding: 5rem 1.5rem;
    background: var(--gray-100);
    text-align: center;
}

main h2 {
    font-size: 2.35rem;
    margin-bottom: 3rem;
    margin-top: -1.0em;
    color: var(--purple-2);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 15px rgba(177, 176, 176, 0.596);
}

.card h3 {
    color: var(--purple-1);
    margin: 1rem 0 0.75rem;
    font-size: 1.6rem;
}

.card p {
    font-size: 1.050rem;
}

footer {
    background: var(--purple-2);
    color: var(--white);
    text-align: center;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    font-size: 0.87rem;
}

footer a {
    color: var(--white);
    text-decoration: none;
    display: inline-block;
}

footer a:hover {
    color: rgb(0, 140, 255);
    text-decoration: underline;
    transform: translateY(-1px);
}