* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff; 
    color: black;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding: 20px;
}

.container {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 640px;
    padding: 50px 40px;
    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(124, 58, 237, 0.12);
    border-radius: 26px;
    box-shadow: 0 10px 30px rgba(124, 58, 237, 0.089);
    transition: transform 0.4s ease;
}

.container:hover {
    transform: translateY(-1px);
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.10);
}

.logo-area {
    text-align: center;
    margin-bottom: 2.3rem;
}

.logo {
    font-size: 3.5rem;
    font-weight: 700;
    background: linear-gradient(90deg, #6366F1, #6a0dadc2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -1.5px;
    text-shadow: 0 2px 10px rgba(124, 58, 237, 0.15);
}

.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: -20px;
    margin-bottom: 13px;
    max-width: 100%;
}

.cadastro a {
    color: #6a0dadc2;
    text-decoration: none;
}

.cadastro a:hover {
    text-decoration: underline;
}

.form-grupo {
    margin-bottom: 1.5rem;
    position: relative;
}

label {
    display: block;
    margin-bottom: 0.7rem;
    color: #94a3b8;
    font-size: 0.90rem;
    font-weight: 400;
}

input {
    width: 100%;
    padding: 1rem 1.1rem;
    background-color: rgba(236, 238, 238, 0.445);
    border: 1px solid rgba(120, 80, 220, 0.3);
    border-radius: 8px;
    color: #1f2937;
    font-size: 0.95rem;
    transition: all 0.25s ease;
}

input:focus {
    outline: none;
    border-color: #7c3aed;
    box-shadow: 0 0 0 4px rgba(124, 58, 237, 0.15);
}

input::placeholder {
    color: rgba(128, 128, 128, 0.37);
}

.password-wrapper {
    position: relative;
}

.btn-login {
    width: 100%;
    padding: 1.20rem;
    margin-top: 1.5rem;
    background: linear-gradient(90deg, #6366F1, #6a0dadc2);
    background-size: 200% 100%;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: 0 8px 25px rgba(91, 33, 182, 0.35);
}

.btn-login:hover {
    background-position: right center;
    box-shadow: 0 12px 30px rgba(124, 58, 237, 0.35)
}

.g_id_signin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.separator {
      display: flex;
      align-items: center;
      margin: 28px 0;
      color: #5f6368;
      font-size: 14px;
    }

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #dadce0;
}

.separator span {
    padding: 0 16px;
    font-weight: 500;
}


.senha a {
    color: #6a0dadc2;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
}

.senha a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 2.7rem;
    text-align: center;
    font-size: 0.84rem;
    color: #9ca3af;
}