* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#6366F1, #6a0dadc2);
    background-attachment: fixed;
    height: 100%;
    overflow: hidden;
}

header {
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    position: sticky;
    top: 0px;
    z-index: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.logo {
    font-size: 25px;
    font-family: "Geist", "Inter", system-ui, sans-serif;
    font-weight: 700;
    color: #2c3e50;
}

.header-acoes {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-novo {
   background-color: #6366F1;
   color: white;
   border: 5px;
   margin-right: 10px;
   padding: 12px 20px;
   border-radius: 20px;
   font-weight: bold;
   font-size: 15px;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 5px;
   transition: all 0.2s;
}

.btn-novo:hover {
    background-color: #4338ca;
    transform: scale(1.05);
}

.Perfil img {
    width: 40px;
    height: auto;
    margin: -10px;
}

main {
    height: calc(100vh - 64px - 50px);
    padding: 24px;
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.coluna {
    background-color: #ebecf0;
    border-radius: 12px;
    border: 0.5px solid rgb(172, 170, 170);
    box-shadow: 10px;
    width: 340px;
    min-width: 320px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.coluna-header {
    padding: 12px 8px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coluna-header span.contador {
    background-color:#cbd5e1;
    color: #475569;
    font-size: 0.8rem;
    padding: 4px 10px;
    border-radius: 12px;
}

.cartoes-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    padding: 4px;
    min-height: 50px;
}

.coluna-vazia {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #94a3b8;
    font-size: 0.97rem;
    text-align: center;
    gap: 16px;
    padding: 32px 25px;
    margin-bottom: 86px;
}

.cartoes-container:empty ~ .coluna-vazia {
    display: flex;
}

.cartoes-container:not(:has(*)) ~ .coluna-vazia {
    display: flex;
}

.coluna-vazia img {
    width: 180px;
    height: auto;
    object-fit: contain;
    max-height: 160px;
    margin-bottom: 12px;
    opacity: 0.85;
    margin-bottom: 12px;
    mix-blend-mode: multiply;
}

.cartao-tarefa {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: transform 0.2s, box-shadow0.2s;
}

.cartao-tarefa:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.titulo {
    font-weight: 600;
    margin-bottom: 8px;
}

.descricao {
    font-size: 0.9rem;
    color: #64748b;
    margin-bottom: 12px;
}

.acoes {
    display: flex;
    gap: 16px;
    font-size: 1.3rem;
    color: #94a3b8;
}

.acoes span {
    cursor: pointer;
}

.acoes span:hover {
    color: #334155;
}

footer {
    height: 55px;
    margin-top: 12px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.87rem;
    color: #64748b;
}

footer a {
    color: #64748b;
    text-decoration: none;
    display: inline-block;
}

footer p {
    margin-bottom: 12px;
}   

footer a:hover {
    color: rgb(0, 140, 255);
    text-decoration: underline;
    transform: translateY(-1px);
}